*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

a{
	color:white;
}

#container{
	margin:auto;
	width: 70%;
}

header{
	display: flex;
	padding: 40px;
	background-color: #333333;
	color: white;
}
	header h1{
		margin-right: auto;
	}
	header ul{
		display: flex;
	}
	header li{
		width: auto;
		margin-right: 20px;
	}

section{
	padding: 40px;
	height: 500px;
	margin-bottom: 40px;
 	background-color: #DDDDDD;
}
	section h1{
		margin-bottom: 12px;
	}
	section p {
		margin-bottom: 40px;
	}

footer{
	padding: 40px;
	background-color: #333333;
	color: white;
}
